# Python stuff
__pycache__/
*.pyc
venv/
.env/

# Streamlit cache
.streamlit/

# Model files
*.h5
*.hdf5
*.ckpt
*.pb
*.tflite
models/*.h5

# Uploaded or sample images
sample_images/
uploads/
*.jpg
*.jpeg
*.png

# Logs / temp
*.log
*.csv
*.txt

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db